[submodule "src/traj_tracking/third_party/osqp-eigen"]
	path = src/traj_tracking/third_party/osqp-eigen
	url = git@github.com:DongDongWw/osqp-eigen.git
[submodule "src/traj_tracking/third_party/osqp"]
	path = src/traj_tracking/third_party/osqp
	url = git@github.com:DongDongWw/osqp.git
