[submodule "src/traj_tracking/third_party/osqp-eigen"]
        path = src/traj_tracking/third_party/osqp-eigen
        url = https://github.com/robotology/osqp-eigen.git
[submodule "src/traj_tracking/third_party/osqp"]
        path = src/traj_tracking/third_party/osqp
        url = https://github.com/osqp/osqp.git

[submodule "src/steer_drive_ros"]
	path = src/steer_drive_ros
	url = https://github.com:DongDongWw/steer_drive_ros.git
[submodule "src/steer_bot"]
	path = src/steer_bot
	url = https://github.com:DongDongWw/steer_bot.git
